language: ruby
rvm:
  - 2.3.1
sudo: false
cache:
  bundler: true
before_install:
  - gem update --remote bundler
install:
  - bundle install --retry=3
before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - ruby -v
  - sleep 5 # wait for servers to start
script:
  - bundle exec thor spec
notifications:
  email:
    on_success: never
    on_failure: never
